
.wrapper {
     display: flex;
     justify-content: space-around;
     margin: 100px;
}

.left {
     display: flex;
     align-items: center;
     border: 2px solid #000;
     border-radius: 10px;
     background-color: brown;
}

.left_inside {
     margin: 50px;
     
}

.btn_1, .btn_2 {
     background-color: cornflowerblue;
     border: 2px solid #000;
     padding: 10px;
     cursor: pointer;
}

.btn_1:hover, .btn_2:hover {
      background-color:blue;
}

.right {
     border: 2px solid #000;
     border-radius: 10px;
     background-color: brown;
}

.right_inside {
     margin: 100px;
}

.text_1 {
     width: 60px;
     height: 20px;
     background-color: cadetblue;
     border: 2px solid #000;
     margin: 0 auto;
     padding: 5px;
     text-align: center;
}